
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-size: 28px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }

        .active {
            background-color: #4CAF50;
        }

        html, body, iframe {
            margin: 0px;
            padding: 0px;
            border: none;
        }

        iframe {
            display: block;
            width: 100%;
            border: none;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .container {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="myDIV">
        <ul>
            <li><a class="btn active" asp-area="" asp-controller="Login" asp-action="Home1">Home</a></li>
            <li><a class="btn" asp-area="" asp-controller="Quote" asp-action="ShowHistory">Quote History</a></li>
            <li><a class="btn" asp-area="" asp-controller="Client" asp-action="ViewProfile">Profile</a></li>
            <li><a class="btn" asp-area="" asp-controller="Quote" asp-action="GetQuote">Quote Generator</a></li>
        </ul>
    </div>


    <script>
    // Add active class to the current button (highlight it)
        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }</script>

    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>